.ExperienceWrapper {
  margin-top: 24px;
}

.ExperienceContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ExperienceImage {
  flex-shrink: 0;
}

.ExperienceLogo {
  border-radius: 4px;
  object-fit: contain;
}

.ExperienceContent {
  flex: 1;
}

.ExperienceText h1 {
  margin: 0;
}

.ExperienceText h3 {
  margin: 4px 0 0 0;
}

.ExperienceDescription {
  padding-top: 8px;
  text-wrap: balance;
}