.HeaderLayout {
  position: relative;
  margin: 0 auto;
  max-width: var(--column-max);
  border-bottom: var(--border-1);
  margin-bottom: 3rem;
}

.HeaderText {
  margin-bottom: 16px;
  text-wrap: balance;
}

.HeaderDetails {
  max-width: 640px;
}

.HeaderNav {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .HeaderNav {
    position: static;
    padding: 0;
    margin: 16px -16px 0;
  }
}

@media (prefers-color-scheme: light) {
  .showDarkTheme {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .showLightTheme {
    display: none;
  }
}
