.LinkButton {
  appearance: unset;
  display: inline-block;
  position: relative;
  isolation: isolate;

  cursor: pointer;

  text-decoration: none;
  color: var(--foreground-color-1);
  font-weight: var(--font-weight-bold);

  overflow: visible;

  border-radius: var(--border-radius);
  transition: border-color, background-color calc(var(--link-button-duration)*1) ease-out;
}

.LinkButtonBg {
  background-color: var(--background-color-3);
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  transition: border-radius, border-color, background-color calc(var(--link-button-duration)*0.7) ease-in;
  border-radius: var(--border-radius);

  .LinkButton:not(:hover) & {
    transition-delay: calc(var(--link-button-duration)*0.3);
    transition-timing-function: ease-out;
    border-radius: 24px;
  }

}

.LinkButtonInside {
  padding: 8px 16px;
}

.LinkButtonOutline {
  border: 1px solid var(--background-color-4);
  background-color: var(--background-color-1);

  &:hover {
    border-color: transparent;
    background-color: transparent;
  }
}

.LinkButtonEmphasis {
  color: var(--background-color-1);
  background-color: var(--foreground-color-2);
  z-index: 1;

  transition-duration: calc(var(--link-button-duration)*.5);

  & .LinkButtonBg {
    /* background-color: var(--foreground-color-2); */
    background-color: transparent;
  }

  &:hover {
    background-color: transparent;
    transition-delay: calc(var(--link-button-duration)*.5);

    & .LinkButtonBg {
      background-color: var(--foreground-color-1);
    }
  }

}