.Layout {
  display: flex;
  flex-direction: row;
  align-items: center;

  && {
    font-weight: initial;
  }
}

.InsideLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
}

.ButtonBg {
  && {
    background-color: var(--background-color-2);
    border-radius: 12px;
  }
}

.ImageWrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  height: 64px;
  width: 64px;

  .ImageIsLarge & {
    height: 100px;
    width: 100px;
  }
}

.Image {
  width: auto;
  max-width: unset;

  .ImageIsLarge & {
    width: 100%;
    height: auto;
  }
}

.Text {
  flex: 1 1 auto;
}