.SectionWrapper {
  border-bottom: var(--border-1);
  overflow: visible;
}

.SectionInteractive {
  transition: background-color 500ms linear;
  &:hover{
    background-color: var(--background-color-2);
  }
}

.Section {
  margin: 0 auto;
  max-width: var(--column-max);
  padding: var(--column-padding);
}

.SectionDescriptionImage{
  width: 24px;
  margin-bottom: 24px;
}

.SectionDescription {
  flex: 1 0 0;
  min-width: 40%;
  max-width: var(--section-content-width);
  text-wrap: balance;

  & p {
    margin: 0 0;
  }
}

.SectionContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  max-width: var(--section-content-width);
}

.SectionDescriptionButtonRow {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  margin: 12px 0;
  /* margin-left: -16px; */
}


/* ---- */

.ProjectsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 64px;
}

.ProjectLinkList {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: -16px -20px;
  max-width: calc(var(--section-content-width) + 40px);

  align-items: flex-start;
}

.ProjectLink {
  flex: 1 1 33%;
  min-width: 300px;
}