.SectionWrapper {
  overflow: visible;
  margin-bottom: 3rem;
}

.Section {
  margin: 0 auto;
  max-width: var(--column-max);
}

.SectionHeader {
  & h2 {
    margin: 0;
  }
}

.SectionDescription {
  flex: 1 0 0;
  min-width: 40%;
  max-width: var(--section-content-width);
  text-wrap: balance;
  border-top: var(--border-1);
  margin-top: 8px;
  padding: 8px 0 0 0;

  & p {
    margin: 0 0;
  }
}

.SectionDescriptionButtonRow {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  margin: 12px 0;
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 8px;
  width: 100%;
  gap: 16px;
}

.Skills ul {
  list-style-type: square;
  padding-left: 20px;
  margin: 0;
}

.Skills li {
  margin-bottom: 8px;
}

.Skills li::marker {
  color: var(--foreground-color-2);
  font-size: 1.2em;
}

.Skills li i {
  margin-right: 8px;
  font-size: 1.2em;
}

.RowContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.GridGroup {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 300px;
  text-align: left;
}

.GridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  display: 'flex';
  align-items: left;
  justify-items: left;
}