.SectionWrapper {
  overflow: visible;
  margin-bottom: 3rem;
}

.Section {
  margin: 0 auto;
  max-width: var(--column-max);
}

.SectionHeader {
  padding-bottom: 8px;
  border-bottom: var(--border-1);
}
.SectionHeader h2 {
  margin: 0;
}

.SectionDescription {
  flex: 1 0 0;
  min-width: 40%;
  max-width: var(--section-content-width);
  text-wrap: balance;
  margin-top: 8px;
  padding: 8px 0 0 0;
}
.SectionDescription p {
  margin: 0 0;
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.Skills ul {
  list-style-type: square;
  padding-left: 20px;
  margin: 0;
}
.Skills li {
  margin-top: 8px;
}


.RowContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.ContactList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}

.ContactLink {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: var(--border-radius);
  transition: all 0.2s ease;
  text-decoration: none;
  color: var(--foreground-color-2);
}
.ContactLink span:not(.ContactIcon) {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-normal);
  position: relative;
}
.ContactLink span:not(.ContactIcon)::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--foreground-color-1);
  transition: width 0.2s ease;
}
.ContactLink:hover span:not(.ContactIcon)::after {
  width: 100%;
}

.ContactIcon {
  font-size: 1em;
  width: 16px;
  text-align: center;
}