.ThemeToggle {
  appearance: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  cursor: pointer;
  text-decoration: none;
  color: var(--foreground-color-1);
  font-weight: var(--font-weight-bold);
  overflow: visible;
  border-radius: var(--border-radius);
  padding: 8px;
  background-color: transparent;
  border: none;
  transition: all 0.15s ease-out;
  font-size: 1.2em;
}

.ThemeToggle:hover {
  background-color: var(--background-color-3);
  transform: scale(1.05);
  border-radius: var(--border-radius);
}

.ThemeToggle:focus {
  outline: none;
}

.ThemeToggle:hover {
  background-color: var(--background-color-3);
  border-radius: var(--border-radius);
} 