:root {
  /* --plex-font-family- are from layout.tsx */
  --font-family-sans: var(--plex-font-family-sans, sans-serif), sans-serif;
  --font-family-mono: var(--plex-font-family-mono, monospace), ui-monospace, Menlo, Monaco, monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --background-color-1: hsl(0, 0%, 100%);
  --background-color-2: hsl(0, 0%, 97%);
  --background-color-3: hsl(0, 0%, 93%);
  --background-color-4: hsl(0, 0%, 88%);

  --border-color-1: hsl(0, 0%, 90%);
  --border-1: 1px solid var(--border-color-1);
  --border-color-2: hsla(0, 0%, 0%, 0.05);
  --border-2: 1px solid var(--border-color-2);

  --foreground-color-1: hsl(0, 0%, 0%);
  --foreground-color-2: hsl(0, 0%, 20%);
  --foreground-color-3: hsl(0, 0%, 45%); 
  --foreground-color-4: hsl(0, 0%, 65%);

  /* --foreground-color-1: hsl(0, 0%, 0%);
  --foreground-color-3: hsl(0, 0%, 18%); 
  --foreground-color-3: hsl(0, 0%, 35%); 
  --foreground-color-4: hsl(0, 0%, 60%); */


  --accent-color-1: rgb(0, 0, 255);

  --font-size-1: 32px;
  --font-size-2: 24px;
  --font-size-3: 18px;
  --font-size-4: 16px;
  --font-size-5: 15px;
  --font-size-6: 14px;
  --font-size-7: 12px;

  --line-height: 1.4;

  --letter-spacing-1: 0.05em;

  --border-radius: 8px;
  --border-radius-image: 4px;

  --box-shadow-outline: 0 0 0 1px rgba(0, 0, 0, .1);
  --box-shadow-color: rgba(0, 0, 0, .3);
  --box-shadow-0: var(--box-shadow-outline);
  --box-shadow-1: var(--box-shadow-outline), 0 1px 1px var(--box-shadow-color);
  --box-shadow-2: var(--box-shadow-outline), 0 1px 1px var(--box-shadow-color), 0 2px 6px var(--box-shadow-color);
  --box-shadow-3: var(--box-shadow-outline), 0 2px 4px var(--box-shadow-color), 0 8px 24px var(--box-shadow-color);
  --box-shadow-4: var(--box-shadow-outline), 0 4px 8px var(--box-shadow-color), 0 18px 46px 6px var(--box-shadow-color);

  --column-max: 1000px;
  --column-text: 720px;
  --column-padding: 16px;

}

@media (max-width: 800px) {
  :root{
    --column-padding: 32px
  }
}
@media (max-width: 600px) {
  :root{
    --column-padding: 24px
  }
}


:root.dark {
  color-scheme: dark;

  --background-color-1: hsl(0, 0%, 15%);
  --background-color-2: hsl(0, 0%, 30%);
  --background-color-3: hsl(0, 0%, 45%);
  --background-color-4: hsl(0, 0%, 65%);

  --border-color-1: hsl(0, 0%, 10%);
  --border-1: 1px solid var(--border-color-1);
  --border-color-2: hsla(0, 0%, 100%, 0.05);
  --border-2: 1px solid var(--border-color-2);

  --foreground-color-1: hsl(0, 0%, 100%);
  --foreground-color-2: hsl(0, 0%, 75%);
  --foreground-color-3: hsl(0, 0%, 53%);
  --foreground-color-4: hsl(0, 0%, 25%);
  
  --box-shadow-color: rgba(0, 0, 0, .5);
}

html {
  font-family: var(--font-family-sans);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-5);
  color: var(--foreground-color-2);
  background-color: var(--background-color-1);
  /* text-wrap: balance; */
  text-wrap: pretty;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;

  /* scroll-behavior: smooth; */

}

/* *{ scroll-margin: var(--column-padding); } */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.2;
}

.metaText {
  font-family: var(--font-family-sans);
  font-weight:  var(--font-weight-normal);
  color:  var(--foreground-color-3);
  font-size: var(--font-size-6);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-1);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration-color: var(--foreground-color-3);

  &:hover {
    text-decoration-color: var(--foreground-color-1);
  }
}

hr {
  border: none;
  border-bottom: var(--border-1);
}

pre, code{
  font-family: var(--font-family-mono);
}
